# Config file, please set the following settings:

# host the bridge is listening for, default: localhost
host = 

# listening port, default 5000
port = 5000

# url to post bridged webhooks to, default
# http://youplatformserver.com/hooks/
webhook_url = 
